#div1 {
  border: solid 2px goldenrod;
  width: 40%;
  background-color: aliceblue;
  text-align: center;
  border-radius: 5px;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fundo1 {
  background-color: peachpuff;
}

button {
  font-size: 30px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: gray;
  border: 2px solid goldenrod;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.4);
}